#nav{
    float:left;
    width:100%;
    margin-bottom:10px;
}

#nav li{
    float:left;
    margin-right:10px;
    position:relative;
    display:block;
}

#nav li a{
    color: #5c3000;
    background: cornsilk;
    display:block;
    padding:5px;
    font-weight: bold;
    text-decoration: none;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:5px;
    box-shadow: 0 0 3px rgba(185, 121, 3, 0.5);
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
    position:absolute;
    left:-9999px;
    opacity:0;
    -webkit-transition:0.25s linear opacity;
}

#nav ul li{
    padding-top:2px;
    float:none;
}
#nav ul a{
    white-space:nowrap;
    display:block;
}
#nav li.open ul{
    left:0;
    opacity:1;
}


.b-popup {
    display:none;
}

.b-popup.open {
    display: block;
}


.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(164, 255, 160, 0.5);
    overflow:hidden;
    position:fixed;
    top:0;
}
.b-popup .b-popup-content{
    text-align: center;
    margin:40px auto 0 auto;
    width:100px;
    height: auto;
    padding:10px;
    background-color: rgb(255, 241, 220);
    border-radius:5px;
    box-shadow: 0 0 10px #4f773d;
    z-index: 10;
}